<%- include('partials/header') %>
<%- include('partials/navBar') %>
<main>
    <section id="about">
        <div class="container">
            <div class="profile">
                <img src="img/me.jpg" alt="picOfMyself" class="left-image">
            </div>
            <div class="bio">
                <h1>About Me</h1>
                <p>
                    Hello, I'm Antonio Chung. I'm passionate about Game developments and programming languages.I'm currently a student at Centennial College in Software Engineering.
                    With a background in Florida State University, I have also worked several jobs like assistant manager and customer services
                    that has provided me with expirience on how to deal with deadlines and customer sastisfaction
                     I'm excited to contribute to innovative projects and collaborate with like-minded individuals.
                </p>
                <a href="resume.pdf" target="_blank" class="download-button">Download Resume (PDF)</a>
            </div>
        </div>
    </section>
</main>


<%- include('partials/footer') %>