<%- include('partials/header') %>
<%- include('partials/navBar') %>

<h1>Projects</h1>

    <div class="project">
        <div class="project-image">
            <img src="img/P1.png" alt="Project 1 Image">
        </div>
        <div class="project-info">
            <h2>Phantom Persuit</h2>
            <p>Phantom Persuit is game that me and 3 other students developed during the first semester at Centennial College
                the project is game based on a small village that has been overun by one haunting ghost and the key of the game is 
                to escape the ghost before he gets to you through a series of mazes. My role in this project was to over see and implement 
                the necesary code and functions for the game to function as well as checking my teamates work to join everything together.
            </p>
        </div>
 
    </div>

    <div class="project">
        <div class="project-image">
            <img src="img/P2.png" alt="Project 2 Image">
        </div>
        <div class="project-info">
            <h2>SportsDawg</h2>
            <p>SportsDawg is an app that me and 3 other students developed during the second semester at Centennial College.
                The function of the app is to have a community of sports driven people to allow them to communicate with each other and
                schedule community or private courts so they can set up matches. The app also has options for private court owners to 
                put their courts available for reservations and get the payments through the app. My role in this project was to create the 
                the relations between the user and the app. I was also part of the creative team into providing ideas on how to make the app more 
                profitable yet financially available so the public could use it.
            </p>
        </div>
        
    </div>

    <div class="project">
        <div class="project-image">
            <img src="img/P3.png" alt="Project 3 Image">
        </div>
        <div class="project-info">
            <h2>WARDROBE</h2>
            <p>
                Wardrobe is an app that me and 7 other classmates are working on currently. The app function is to have a virtual closet 
                where you can upload your clothes and save outift combinations without having to try it on in real life, not only that but it 
                also has a community feed where people can rate and comment their opinions on your outfit, as well as save them for future referece.
                It will also containan online store with partnership of several clothing brands so we can promote them and get profit from the sales as well.
                My role in this project is to manage the market/budget necesary to complete the app and gain profit from it while keeping the app accessible for the users.
            </p>
        </div>
        
    </div>

<%- include('partials/footer') %>