<%- include('partials/header') %>
<%- include ('partials/navBar.ejs') %>
<h1>Services</h1>
    
<div class="service">
    <img src="img/S1.png" alt="Programming Service">
    <div class="service-text">
        <h2>General Programming</h2>
        <p>I specialize in providing expert programming services encompassing a wide range of programming languages and platforms.
             With a passion for coding and a deep understanding of software development, I am dedicated to delivering customized
              solutions that cater to your specific needs. Whether you require web development using languages like HTML, CSS, and 
              JavaScript, or you're looking to build a mobile app on iOS or Android, I have the skills and experience to bring your 
              project to fruition. My commitment to staying up-to-date with the latest industry trends and technologies ensures that 
              the solutions I create are not only efficient but also future-proof. Partner with me, and together, we can turn your ideas
               into high-quality software that not only meets but exceeds your expectations.
            </p>
    </div>
</div>
<br>
<div class="service">  
    <img src="img/S2.png" alt="Web Development Service">
    <div class="service-text">
        <h2>Web Development</h2>
        <p> I am dedicated to crafting stunning websites that are perfectly tailored to your unique needs. 
            With a keen eye for design and a passion for cutting-edge web technologies, I take pride in creating visually appealing, 
            user-friendly, and responsive websites that not only capture your brand's essence but also engage your target audience 
            effectively. Whether you're looking for a sleek and modern corporate site, an e-commerce platform, or a captivating personal
             blog, I have the expertise to bring your vision to life. My commitment to quality and attention to detail ensure that your
              website will not only look fantastic but also function seamlessly across all devices. Partner with me, and let's transform 
              your online presence into a captivating and powerful tool that sets you apart from the competition.
            </p>
    </div>
</div>
<br>
<div class="service">
    <img src="img/S3.png" alt="Mobile Apps Service">
    <div class="service-text">
        <h2>Mobile Apps</h2>
        <p> I specialize in crafting exceptional mobile applications that cater to your specific requirements. With a deep understanding
             of the mobile landscape and a passion for innovative app development, I am committed to creating user-friendly and feature-rich
              apps that align with your brand and resonate with your target audience. Whether you need a sleek and intuitive business app, 
              a game-changing e-commerce platform, or a cutting-edge social networking app, I have the expertise to turn your app idea into
               a reality. My dedication to quality ensures that your mobile app not only looks great but also functions seamlessly on various
                devices and platforms. Collaborate with me, and together, we'll bring your mobile app vision to life, delivering a unique and
                 compelling experience to your users while driving your business growth.
            </p>
    </div>
</div>
<br>
</div>

<%- include('partials/footer') %>
